body {
	background: rgba(0,0,0,0.8);
	font-family: helvetica;
	margin: 10px auto;
	width: 100%;

} 
header {
	text-align: center;
	height: 200px;
	color: blue;
	font-size: 30px;
}
h1 {
	font-family: 'Chewy', cursive;
}
div {
	text-align: center;
	color: white;
	background: rgba(0,0,255,0.4);
	width: 90%;
	margin: 0 auto;
	border: border: 1px solid black;

}
tr {
	padding: 10px;
}
td {
border-color: black;
}
input {
	width: 500px;
	color: black;

}
#button1 {
	background: green;
	color: white;
	font-style: arial black;
	width: 100px;
    height: 35px;
    font-size: 20px;

}
a {
	color: white;gi
}

